@font-face {
    font-family: 'gotham_pro_regular';
    src: url('../fonts/gothaproreg.woff2') format('woff2'), url('../fonts/gothaproreg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_pro_light';
    src: url('../fonts/gothaprolig.woff2') format('woff2'), url('../fonts/gothaprolig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_pro_medium';
    src: url('../fonts/gothapromed.woff2') format('woff2'), url('../fonts/gothapromed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_pro_bold';
    src: url('../fonts/gothaprobol.woff2') format('woff2'), url('../fonts/gothaprobol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham_pro_black';
    src: url('../fonts/gothaproblack.woff2') format('woff2'), url('../fonts/gothaproblack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}