.mainHeader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 48px 0;
    z-index: 10;
    &_fixed {
        position: fixed;
    }
    & .inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 165px;
        height: 21px;
        background: url('../img/header__logo.png') no-repeat;
    }
    @include tablet {
        padding: 30px 0;
    }
    @include mobile {
        &_blackTheme {
            & .mainMenu {
                &__mobileButtonToggle {
                    & span {
                        background: $color_dark2;
                    }
                }
            }
        }
    }
}