.mainMenu {
    &__mobileButtonToggle {
        display: none;
    }
    & li {
        margin-right: 50px;
        list-style: none;
        &:last-child {
            margin-right: 0;
        }
    }
    & li a,
    &__link {
        font-size: 14px;
        line-height: 18px;
        margin-right: 50px;
        color: $color_light1;
        font-family: $font_bold;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        &:last-child {
            margin-right: 0;
        }
        &:hover,
        &:focus {
            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background: $color_light1;
                position: absolute;
                bottom: -8px;
            }
        }
    }
    & li.current-menu-item,
    & li.current-menu-parent {
        & a {
            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background: $color_light1;
                position: absolute;
                bottom: -8px;
            }
        }
    }
    &__inner {
        margin: 0;
        padding: 0; 
        display: flex;
        justify-content: flex-end;
    }
    @include mobile {
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;
        padding: 78px 0 20px;
        width: 100%;
        background: $color_dark1;
        transition: .2s right ease-in-out;
        z-index: 998;
        display: flex;
        align-items: center;
        justify-content: center;
        &__mobileButtonToggle {
            display: block;
            position: relative;
            z-index: 999;
            & span {
                display: block;
                width: 30px;
                height: 2px;
                margin-bottom: 8px;
                background: $color_light1;
            }
            &_menuIsVisible {
                & span {
                    background: $color_light1 !important;
                }
            }
        }
        &_toggled {
            right: 0;
        }
        &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: -50px;
        }
        & li,
        &__link {
            margin-right: 0;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}