.newsModal {
    padding: 20px 85px 100px;
    & p {
        font-size: 16px;
        line-height: 24px;
        font-family: $font_light;
        margin: 0;
        margin-bottom: 30px;
        color: #666666;
    }
    &__wrapper {
        & .iziModal {
            &-header {
                box-shadow: none;
                min-height: 40px;
                &-title {
                    display: none;
                }
                &-buttons {
                    right: 25px !important;
                    margin: -19px 0 0 !important;
                }
            }
            &-button {
                &-close {
                    background: none;
                    @include sprite($sprite-24);
                    width: $sprite-24-width !important;
                    height: $sprite-24-height !important;
                    background-size: initial !important;
                    opacity: 1;
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
    &-social {
        display: flex;
        & .ya-share2__list {
            display: flex;
            padding: 0;
            margin: 0;
        }
        & .ya-share2__item {
            list-style: none;
        }
        & .ya-share2__item_service_vkontakte .ya-share2__icon {
            @include sprite($sprite-22);
            display: block;
            margin-right: 10px;
        }
        & .ya-share2__item_service_facebook .ya-share2__icon {
            display: block;
            @include sprite($sprite-21);
        }
        & .ya-share2__title {
            display: none;
        }
    }
    @include mobile {
        padding: 20px 15px 40px;
        & .innerPage-news {
            &__row {
                margin: 0;
                flex-direction: column-reverse;
            }
            &__column {
                width: 100%;
                padding: 0;
                margin-bottom: 30px;
            }
        }
        
    }
}