// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-1-name: 'sprite_1';
$sprite-1-x: 128px;
$sprite-1-y: 51px;
$sprite-1-offset-x: -128px;
$sprite-1-offset-y: -51px;
$sprite-1-width: 12px;
$sprite-1-height: 7px;
$sprite-1-total-width: 221px;
$sprite-1-total-height: 205px;
$sprite-1-image: '../img/sprite/sprite.png';
$sprite-1: (128px, 51px, -128px, -51px, 12px, 7px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_1', );
$sprite-10-name: 'sprite_10';
$sprite-10-x: 156px;
$sprite-10-y: 63px;
$sprite-10-offset-x: -156px;
$sprite-10-offset-y: -63px;
$sprite-10-width: 17px;
$sprite-10-height: 21px;
$sprite-10-total-width: 221px;
$sprite-10-total-height: 205px;
$sprite-10-image: '../img/sprite/sprite.png';
$sprite-10: (156px, 63px, -156px, -63px, 17px, 21px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_10', );
$sprite-11-name: 'sprite_11';
$sprite-11-x: 131px;
$sprite-11-y: 167px;
$sprite-11-offset-x: -131px;
$sprite-11-offset-y: -167px;
$sprite-11-width: 9px;
$sprite-11-height: 17px;
$sprite-11-total-width: 221px;
$sprite-11-total-height: 205px;
$sprite-11-image: '../img/sprite/sprite.png';
$sprite-11: (131px, 167px, -131px, -167px, 9px, 17px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_11', );
$sprite-12-name: 'sprite_12';
$sprite-12-x: 193px;
$sprite-12-y: 147px;
$sprite-12-offset-x: -193px;
$sprite-12-offset-y: -147px;
$sprite-12-width: 21px;
$sprite-12-height: 12px;
$sprite-12-total-width: 221px;
$sprite-12-total-height: 205px;
$sprite-12-image: '../img/sprite/sprite.png';
$sprite-12: (193px, 147px, -193px, -147px, 21px, 12px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_12', );
$sprite-13-name: 'sprite_13';
$sprite-13-x: 175px;
$sprite-13-y: 147px;
$sprite-13-offset-x: -175px;
$sprite-13-offset-y: -147px;
$sprite-13-width: 18px;
$sprite-13-height: 18px;
$sprite-13-total-width: 221px;
$sprite-13-total-height: 205px;
$sprite-13-image: '../img/sprite/sprite.png';
$sprite-13: (175px, 147px, -175px, -147px, 18px, 18px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_13', );
$sprite-14-name: 'sprite_14';
$sprite-14-x: 175px;
$sprite-14-y: 56px;
$sprite-14-offset-x: -175px;
$sprite-14-offset-y: -56px;
$sprite-14-width: 46px;
$sprite-14-height: 46px;
$sprite-14-total-width: 221px;
$sprite-14-total-height: 205px;
$sprite-14-image: '../img/sprite/sprite.png';
$sprite-14: (175px, 56px, -175px, -56px, 46px, 46px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_14', );
$sprite-15-name: 'sprite_15';
$sprite-15-x: 76px;
$sprite-15-y: 167px;
$sprite-15-offset-x: -76px;
$sprite-15-offset-y: -167px;
$sprite-15-width: 34px;
$sprite-15-height: 34px;
$sprite-15-total-width: 221px;
$sprite-15-total-height: 205px;
$sprite-15-image: '../img/sprite/sprite.png';
$sprite-15: (76px, 167px, -76px, -167px, 34px, 34px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_15', );
$sprite-16-name: 'sprite_16';
$sprite-16-x: 144px;
$sprite-16-y: 113px;
$sprite-16-offset-x: -144px;
$sprite-16-offset-y: -113px;
$sprite-16-width: 27px;
$sprite-16-height: 27px;
$sprite-16-total-width: 221px;
$sprite-16-total-height: 205px;
$sprite-16-image: '../img/sprite/sprite.png';
$sprite-16: (144px, 113px, -144px, -113px, 27px, 27px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_16', );
$sprite-17-name: 'sprite_17';
$sprite-17-x: 106px;
$sprite-17-y: 151px;
$sprite-17-offset-x: -106px;
$sprite-17-offset-y: -151px;
$sprite-17-width: 12px;
$sprite-17-height: 15px;
$sprite-17-total-width: 221px;
$sprite-17-total-height: 205px;
$sprite-17-image: '../img/sprite/sprite.png';
$sprite-17: (106px, 151px, -106px, -151px, 12px, 15px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_17', );
$sprite-18-name: 'sprite_18';
$sprite-18-x: 156px;
$sprite-18-y: 84px;
$sprite-18-offset-x: -156px;
$sprite-18-offset-y: -84px;
$sprite-18-width: 14px;
$sprite-18-height: 14px;
$sprite-18-total-width: 221px;
$sprite-18-total-height: 205px;
$sprite-18-image: '../img/sprite/sprite.png';
$sprite-18: (156px, 84px, -156px, -84px, 14px, 14px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_18', );
$sprite-19-name: 'sprite_19';
$sprite-19-x: 118px;
$sprite-19-y: 151px;
$sprite-19-offset-x: -118px;
$sprite-19-offset-y: -151px;
$sprite-19-width: 9px;
$sprite-19-height: 14px;
$sprite-19-total-width: 221px;
$sprite-19-total-height: 205px;
$sprite-19-image: '../img/sprite/sprite.png';
$sprite-19: (118px, 151px, -118px, -151px, 9px, 14px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_19', );
$sprite-2-name: 'sprite_2';
$sprite-2-x: 110px;
$sprite-2-y: 167px;
$sprite-2-offset-x: -110px;
$sprite-2-offset-y: -167px;
$sprite-2-width: 21px;
$sprite-2-height: 21px;
$sprite-2-total-width: 221px;
$sprite-2-total-height: 205px;
$sprite-2-image: '../img/sprite/sprite.png';
$sprite-2: (110px, 167px, -110px, -167px, 21px, 21px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_2', );
$sprite-20-name: 'sprite_20';
$sprite-20-x: 113px;
$sprite-20-y: 51px;
$sprite-20-offset-x: -113px;
$sprite-20-offset-y: -51px;
$sprite-20-width: 15px;
$sprite-20-height: 12px;
$sprite-20-total-width: 221px;
$sprite-20-total-height: 205px;
$sprite-20-image: '../img/sprite/sprite.png';
$sprite-20: (113px, 51px, -113px, -51px, 15px, 12px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_20', );
$sprite-21-name: 'sprite_21';
$sprite-21-x: 106px;
$sprite-21-y: 113px;
$sprite-21-offset-x: -106px;
$sprite-21-offset-y: -113px;
$sprite-21-width: 38px;
$sprite-21-height: 38px;
$sprite-21-total-width: 221px;
$sprite-21-total-height: 205px;
$sprite-21-image: '../img/sprite/sprite.png';
$sprite-21: (106px, 113px, -106px, -113px, 38px, 38px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_21', );
$sprite-22-name: 'sprite_22';
$sprite-22-x: 38px;
$sprite-22-y: 167px;
$sprite-22-offset-x: -38px;
$sprite-22-offset-y: -167px;
$sprite-22-width: 38px;
$sprite-22-height: 38px;
$sprite-22-total-width: 221px;
$sprite-22-total-height: 205px;
$sprite-22-image: '../img/sprite/sprite.png';
$sprite-22: (38px, 167px, -38px, -167px, 38px, 38px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_22', );
$sprite-24-name: 'sprite_24';
$sprite-24-x: 0px;
$sprite-24-y: 167px;
$sprite-24-offset-x: 0px;
$sprite-24-offset-y: -167px;
$sprite-24-width: 38px;
$sprite-24-height: 38px;
$sprite-24-total-width: 221px;
$sprite-24-total-height: 205px;
$sprite-24-image: '../img/sprite/sprite.png';
$sprite-24: (0px, 167px, 0px, -167px, 38px, 38px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_24', );
$sprite-25-name: 'sprite_25';
$sprite-25-x: 113px;
$sprite-25-y: 0px;
$sprite-25-offset-x: -113px;
$sprite-25-offset-y: 0px;
$sprite-25-width: 62px;
$sprite-25-height: 51px;
$sprite-25-total-width: 221px;
$sprite-25-total-height: 205px;
$sprite-25-image: '../img/sprite/sprite.png';
$sprite-25: (113px, 0px, -113px, 0px, 62px, 51px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_25', );
$sprite-26-name: 'sprite_26';
$sprite-26-x: 0px;
$sprite-26-y: 0px;
$sprite-26-offset-x: 0px;
$sprite-26-offset-y: 0px;
$sprite-26-width: 57px;
$sprite-26-height: 63px;
$sprite-26-total-width: 221px;
$sprite-26-total-height: 205px;
$sprite-26-image: '../img/sprite/sprite.png';
$sprite-26: (0px, 0px, 0px, 0px, 57px, 63px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_26', );
$sprite-27-name: 'sprite_27';
$sprite-27-x: 0px;
$sprite-27-y: 113px;
$sprite-27-offset-x: 0px;
$sprite-27-offset-y: -113px;
$sprite-27-width: 53px;
$sprite-27-height: 54px;
$sprite-27-total-width: 221px;
$sprite-27-total-height: 205px;
$sprite-27-image: '../img/sprite/sprite.png';
$sprite-27: (0px, 113px, 0px, -113px, 53px, 54px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_27', );
$sprite-3-name: 'sprite_3';
$sprite-3-x: 60px;
$sprite-3-y: 63px;
$sprite-3-offset-x: -60px;
$sprite-3-offset-y: -63px;
$sprite-3-width: 49px;
$sprite-3-height: 48px;
$sprite-3-total-width: 221px;
$sprite-3-total-height: 205px;
$sprite-3-image: '../img/sprite/sprite.png';
$sprite-3: (60px, 63px, -60px, -63px, 49px, 48px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_3', );
$sprite-4-name: 'sprite_4';
$sprite-4-x: 0px;
$sprite-4-y: 63px;
$sprite-4-offset-x: 0px;
$sprite-4-offset-y: -63px;
$sprite-4-width: 60px;
$sprite-4-height: 50px;
$sprite-4-total-width: 221px;
$sprite-4-total-height: 205px;
$sprite-4-image: '../img/sprite/sprite.png';
$sprite-4: (0px, 63px, 0px, -63px, 60px, 50px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_4', );
$sprite-5-name: 'sprite_5';
$sprite-5-x: 109px;
$sprite-5-y: 63px;
$sprite-5-offset-x: -109px;
$sprite-5-offset-y: -63px;
$sprite-5-width: 47px;
$sprite-5-height: 47px;
$sprite-5-total-width: 221px;
$sprite-5-total-height: 205px;
$sprite-5-image: '../img/sprite/sprite.png';
$sprite-5: (109px, 63px, -109px, -63px, 47px, 47px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_5', );
$sprite-6-name: 'sprite_6';
$sprite-6-x: 175px;
$sprite-6-y: 0px;
$sprite-6-offset-x: -175px;
$sprite-6-offset-y: 0px;
$sprite-6-width: 46px;
$sprite-6-height: 56px;
$sprite-6-total-width: 221px;
$sprite-6-total-height: 205px;
$sprite-6-image: '../img/sprite/sprite.png';
$sprite-6: (175px, 0px, -175px, 0px, 46px, 56px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_6', );
$sprite-7-name: 'sprite_7';
$sprite-7-x: 175px;
$sprite-7-y: 102px;
$sprite-7-offset-x: -175px;
$sprite-7-offset-y: -102px;
$sprite-7-width: 45px;
$sprite-7-height: 45px;
$sprite-7-total-width: 221px;
$sprite-7-total-height: 205px;
$sprite-7-image: '../img/sprite/sprite.png';
$sprite-7: (175px, 102px, -175px, -102px, 45px, 45px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_7', );
$sprite-8-name: 'sprite_8';
$sprite-8-x: 53px;
$sprite-8-y: 113px;
$sprite-8-offset-x: -53px;
$sprite-8-offset-y: -113px;
$sprite-8-width: 53px;
$sprite-8-height: 53px;
$sprite-8-total-width: 221px;
$sprite-8-total-height: 205px;
$sprite-8-image: '../img/sprite/sprite.png';
$sprite-8: (53px, 113px, -53px, -113px, 53px, 53px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_8', );
$sprite-9-name: 'sprite_9';
$sprite-9-x: 57px;
$sprite-9-y: 0px;
$sprite-9-offset-x: -57px;
$sprite-9-offset-y: 0px;
$sprite-9-width: 56px;
$sprite-9-height: 58px;
$sprite-9-total-width: 221px;
$sprite-9-total-height: 205px;
$sprite-9-image: '../img/sprite/sprite.png';
$sprite-9: (57px, 0px, -57px, 0px, 56px, 58px, 221px, 205px, '../img/sprite/sprite.png', 'sprite_9', );
$spritesheet-width: 221px;
$spritesheet-height: 205px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($sprite-1, $sprite-10, $sprite-11, $sprite-12, $sprite-13, $sprite-14, $sprite-15, $sprite-16, $sprite-17, $sprite-18, $sprite-19, $sprite-2, $sprite-20, $sprite-21, $sprite-22, $sprite-24, $sprite-25, $sprite-26, $sprite-27, $sprite-3, $sprite-4, $sprite-5, $sprite-6, $sprite-7, $sprite-8, $sprite-9, );
$spritesheet: (221px, 205px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
