// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-1-name: 'sprite_1';
$sprite-1-x: 116px;
$sprite-1-y: 102px;
$sprite-1-offset-x: -116px;
$sprite-1-offset-y: -102px;
$sprite-1-width: 12px;
$sprite-1-height: 7px;
$sprite-1-total-width: 200px;
$sprite-1-total-height: 170px;
$sprite-1-image: '../img/sprite/sprite.png';
$sprite-1: (116px, 102px, -116px, -102px, 12px, 7px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_1', );
$sprite-10-name: 'sprite_10';
$sprite-10-x: 183px;
$sprite-10-y: 137px;
$sprite-10-offset-x: -183px;
$sprite-10-offset-y: -137px;
$sprite-10-width: 17px;
$sprite-10-height: 21px;
$sprite-10-total-width: 200px;
$sprite-10-total-height: 170px;
$sprite-10-image: '../img/sprite/sprite.png';
$sprite-10: (183px, 137px, -183px, -137px, 17px, 21px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_10', );
$sprite-11-name: 'sprite_11';
$sprite-11-x: 189px;
$sprite-11-y: 110px;
$sprite-11-offset-x: -189px;
$sprite-11-offset-y: -110px;
$sprite-11-width: 9px;
$sprite-11-height: 17px;
$sprite-11-total-width: 200px;
$sprite-11-total-height: 170px;
$sprite-11-image: '../img/sprite/sprite.png';
$sprite-11: (189px, 110px, -189px, -110px, 9px, 17px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_11', );
$sprite-12-name: 'sprite_12';
$sprite-12-x: 130px;
$sprite-12-y: 129px;
$sprite-12-offset-x: -130px;
$sprite-12-offset-y: -129px;
$sprite-12-width: 21px;
$sprite-12-height: 12px;
$sprite-12-total-width: 200px;
$sprite-12-total-height: 170px;
$sprite-12-image: '../img/sprite/sprite.png';
$sprite-12: (130px, 129px, -130px, -129px, 21px, 12px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_12', );
$sprite-13-name: 'sprite_13';
$sprite-13-x: 130px;
$sprite-13-y: 111px;
$sprite-13-offset-x: -130px;
$sprite-13-offset-y: -111px;
$sprite-13-width: 18px;
$sprite-13-height: 18px;
$sprite-13-total-width: 200px;
$sprite-13-total-height: 170px;
$sprite-13-image: '../img/sprite/sprite.png';
$sprite-13: (130px, 111px, -130px, -111px, 18px, 18px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_13', );
$sprite-14-name: 'sprite_14';
$sprite-14-x: 116px;
$sprite-14-y: 56px;
$sprite-14-offset-x: -116px;
$sprite-14-offset-y: -56px;
$sprite-14-width: 46px;
$sprite-14-height: 46px;
$sprite-14-total-width: 200px;
$sprite-14-total-height: 170px;
$sprite-14-image: '../img/sprite/sprite.png';
$sprite-14: (116px, 56px, -116px, -56px, 46px, 46px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_14', );
$sprite-15-name: 'sprite_15';
$sprite-15-x: 162px;
$sprite-15-y: 76px;
$sprite-15-offset-x: -162px;
$sprite-15-offset-y: -76px;
$sprite-15-width: 34px;
$sprite-15-height: 34px;
$sprite-15-total-width: 200px;
$sprite-15-total-height: 170px;
$sprite-15-image: '../img/sprite/sprite.png';
$sprite-15: (162px, 76px, -162px, -76px, 34px, 34px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_15', );
$sprite-16-name: 'sprite_16';
$sprite-16-x: 162px;
$sprite-16-y: 110px;
$sprite-16-offset-x: -162px;
$sprite-16-offset-y: -110px;
$sprite-16-width: 27px;
$sprite-16-height: 27px;
$sprite-16-total-width: 200px;
$sprite-16-total-height: 170px;
$sprite-16-image: '../img/sprite/sprite.png';
$sprite-16: (162px, 110px, -162px, -110px, 27px, 27px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_16', );
$sprite-17-name: 'sprite_17';
$sprite-17-x: 102px;
$sprite-17-y: 72px;
$sprite-17-offset-x: -102px;
$sprite-17-offset-y: -72px;
$sprite-17-width: 12px;
$sprite-17-height: 15px;
$sprite-17-total-width: 200px;
$sprite-17-total-height: 170px;
$sprite-17-image: '../img/sprite/sprite.png';
$sprite-17: (102px, 72px, -102px, -72px, 12px, 15px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_17', );
$sprite-18-name: 'sprite_18';
$sprite-18-x: 102px;
$sprite-18-y: 58px;
$sprite-18-offset-x: -102px;
$sprite-18-offset-y: -58px;
$sprite-18-width: 14px;
$sprite-18-height: 14px;
$sprite-18-total-width: 200px;
$sprite-18-total-height: 170px;
$sprite-18-image: '../img/sprite/sprite.png';
$sprite-18: (102px, 58px, -102px, -58px, 14px, 14px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_18', );
$sprite-19-name: 'sprite_19';
$sprite-19-x: 102px;
$sprite-19-y: 87px;
$sprite-19-offset-x: -102px;
$sprite-19-offset-y: -87px;
$sprite-19-width: 9px;
$sprite-19-height: 14px;
$sprite-19-total-width: 200px;
$sprite-19-total-height: 170px;
$sprite-19-image: '../img/sprite/sprite.png';
$sprite-19: (102px, 87px, -102px, -87px, 9px, 14px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_19', );
$sprite-2-name: 'sprite_2';
$sprite-2-x: 162px;
$sprite-2-y: 137px;
$sprite-2-offset-x: -162px;
$sprite-2-offset-y: -137px;
$sprite-2-width: 21px;
$sprite-2-height: 21px;
$sprite-2-total-width: 200px;
$sprite-2-total-height: 170px;
$sprite-2-image: '../img/sprite/sprite.png';
$sprite-2: (162px, 137px, -162px, -137px, 21px, 21px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_2', );
$sprite-20-name: 'sprite_20';
$sprite-20-x: 0px;
$sprite-20-y: 158px;
$sprite-20-offset-x: 0px;
$sprite-20-offset-y: -158px;
$sprite-20-width: 15px;
$sprite-20-height: 12px;
$sprite-20-total-width: 200px;
$sprite-20-total-height: 170px;
$sprite-20-image: '../img/sprite/sprite.png';
$sprite-20: (0px, 158px, 0px, -158px, 15px, 12px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_20', );
$sprite-21-name: 'sprite_21';
$sprite-21-x: 92px;
$sprite-21-y: 111px;
$sprite-21-offset-x: -92px;
$sprite-21-offset-y: -111px;
$sprite-21-width: 38px;
$sprite-21-height: 38px;
$sprite-21-total-width: 200px;
$sprite-21-total-height: 170px;
$sprite-21-image: '../img/sprite/sprite.png';
$sprite-21: (92px, 111px, -92px, -111px, 38px, 38px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_21', );
$sprite-22-name: 'sprite_22';
$sprite-22-x: 162px;
$sprite-22-y: 0px;
$sprite-22-offset-x: -162px;
$sprite-22-offset-y: 0px;
$sprite-22-width: 38px;
$sprite-22-height: 38px;
$sprite-22-total-width: 200px;
$sprite-22-total-height: 170px;
$sprite-22-image: '../img/sprite/sprite.png';
$sprite-22: (162px, 0px, -162px, 0px, 38px, 38px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_22', );
$sprite-24-name: 'sprite_24';
$sprite-24-x: 162px;
$sprite-24-y: 38px;
$sprite-24-offset-x: -162px;
$sprite-24-offset-y: -38px;
$sprite-24-width: 38px;
$sprite-24-height: 38px;
$sprite-24-total-width: 200px;
$sprite-24-total-height: 170px;
$sprite-24-image: '../img/sprite/sprite.png';
$sprite-24: (162px, 38px, -162px, -38px, 38px, 38px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_24', );
$sprite-3-name: 'sprite_3';
$sprite-3-x: 53px;
$sprite-3-y: 58px;
$sprite-3-offset-x: -53px;
$sprite-3-offset-y: -58px;
$sprite-3-width: 49px;
$sprite-3-height: 48px;
$sprite-3-total-width: 200px;
$sprite-3-total-height: 170px;
$sprite-3-image: '../img/sprite/sprite.png';
$sprite-3: (53px, 58px, -53px, -58px, 49px, 48px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_3', );
$sprite-4-name: 'sprite_4';
$sprite-4-x: 56px;
$sprite-4-y: 0px;
$sprite-4-offset-x: -56px;
$sprite-4-offset-y: 0px;
$sprite-4-width: 60px;
$sprite-4-height: 50px;
$sprite-4-total-width: 200px;
$sprite-4-total-height: 170px;
$sprite-4-image: '../img/sprite/sprite.png';
$sprite-4: (56px, 0px, -56px, 0px, 60px, 50px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_4', );
$sprite-5-name: 'sprite_5';
$sprite-5-x: 0px;
$sprite-5-y: 111px;
$sprite-5-offset-x: 0px;
$sprite-5-offset-y: -111px;
$sprite-5-width: 47px;
$sprite-5-height: 47px;
$sprite-5-total-width: 200px;
$sprite-5-total-height: 170px;
$sprite-5-image: '../img/sprite/sprite.png';
$sprite-5: (0px, 111px, 0px, -111px, 47px, 47px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_5', );
$sprite-6-name: 'sprite_6';
$sprite-6-x: 116px;
$sprite-6-y: 0px;
$sprite-6-offset-x: -116px;
$sprite-6-offset-y: 0px;
$sprite-6-width: 46px;
$sprite-6-height: 56px;
$sprite-6-total-width: 200px;
$sprite-6-total-height: 170px;
$sprite-6-image: '../img/sprite/sprite.png';
$sprite-6: (116px, 0px, -116px, 0px, 46px, 56px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_6', );
$sprite-7-name: 'sprite_7';
$sprite-7-x: 47px;
$sprite-7-y: 111px;
$sprite-7-offset-x: -47px;
$sprite-7-offset-y: -111px;
$sprite-7-width: 45px;
$sprite-7-height: 45px;
$sprite-7-total-width: 200px;
$sprite-7-total-height: 170px;
$sprite-7-image: '../img/sprite/sprite.png';
$sprite-7: (47px, 111px, -47px, -111px, 45px, 45px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_7', );
$sprite-8-name: 'sprite_8';
$sprite-8-x: 0px;
$sprite-8-y: 58px;
$sprite-8-offset-x: 0px;
$sprite-8-offset-y: -58px;
$sprite-8-width: 53px;
$sprite-8-height: 53px;
$sprite-8-total-width: 200px;
$sprite-8-total-height: 170px;
$sprite-8-image: '../img/sprite/sprite.png';
$sprite-8: (0px, 58px, 0px, -58px, 53px, 53px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_8', );
$sprite-9-name: 'sprite_9';
$sprite-9-x: 0px;
$sprite-9-y: 0px;
$sprite-9-offset-x: 0px;
$sprite-9-offset-y: 0px;
$sprite-9-width: 56px;
$sprite-9-height: 58px;
$sprite-9-total-width: 200px;
$sprite-9-total-height: 170px;
$sprite-9-image: '../img/sprite/sprite.png';
$sprite-9: (0px, 0px, 0px, 0px, 56px, 58px, 200px, 170px, '../img/sprite/sprite.png', 'sprite_9', );
$spritesheet-width: 200px;
$spritesheet-height: 170px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($sprite-1, $sprite-10, $sprite-11, $sprite-12, $sprite-13, $sprite-14, $sprite-15, $sprite-16, $sprite-17, $sprite-18, $sprite-19, $sprite-2, $sprite-20, $sprite-21, $sprite-22, $sprite-24, $sprite-3, $sprite-4, $sprite-5, $sprite-6, $sprite-7, $sprite-8, $sprite-9, );
$spritesheet: (200px, 170px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
