// Темные
$color_dark1: #1d1d1b;
$color_dark2: #000000;
// Светлые
$color_light1: #ffffff;
// Серые
$color_gray1: #cccccc;
$color_gray2: #d9d9d9;
$color_gray3: #333333;
$color_gray4: #666666;
$color_gray5: #8f8f8f;
// Синие
$color_blue1: #00aaff;