.aboutCompany {
    background: $color_light1;
    position: relative;
    display: flex;
    align-items: center;
    & .inner {
        padding-top: 117px;
    }
    &__text {
        font-family: $font_light;
    }
    &__row {
        display: flex;
        align-items: flex-start;
        margin: 0 -36px;
    }
    &__column {
        padding: 0 36px;
        position: relative;
        width: 55%;
        &:last-child {
            width: 45%;
        }
    }
    &__title {
        font-size: 18px;
        margin-bottom: 40px;
        font-family: $font_medium;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    &-ways {
        &__el {
            display: inline-block;
            border: 1px solid $color_gray1;
            border-radius: 3px;
            font-size: 20px;
            line-height: 28px;
            padding: 9px 25px;
            margin-bottom: 23px;
            font-family: $font_medium;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @media screen and (min-height: 540px) {
        &__row {
            min-height: 205px;
            &_with-logo {
                margin-bottom: 92px;
            }
        }
    }
    @media screen and (max-width: 1920px) {
        &__logoTxt {
            width: 50vw;
            max-width: 876px;
            background-size: contain;
        }
    }
    @media screen and (max-width: 1400px) {
        &__logoTxt {
            min-height: 170px;
        }
    }
    @include desktop {
        &__logoTxt {
            position: absolute;
            left: 36px;
            top: 0;
            width: 876px;
            height: 205px;
            margin-bottom: 92px;
            background-image: url('../img/binetText__item1.png');
            background-repeat: no-repeat;
        }
    }
    @media screen and (max-height: 700px) and (min-width: 1200px) {
        & .inner {
            padding-top: 35px;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__logoTxt {
            background-size: contain;
            width: 450px;
            height: 105px;
            left: 0;
            position: relative;
            margin-bottom: 20px;
        }
        &__row {
            min-height: 0;
            &_with-logo {
                margin-bottom: 20px;
            }
        }
        &__text {
            font-size: 14px;
            line-height: 18px;
        }
        &-ways {
            &__el {
                font-size: 18px;
                line-height: 22px;
                padding: 6px 15px;
                margin-bottom: 12px;
            }
        }
    }
    @include tablet {
        display: flex;
        align-items: center;
        &__title {
            margin-bottom: 30px;
        }
        &-ways {
            &__el {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 18px;
            }
        }
        &__row {
            flex-direction: column;
            margin: 0;
            min-height: initial;
            &_with-logo {
                & .aboutCompany__column:last-child {
                    display: none;
                }
            }
        }
        &__column {
            width: 100%;
            padding: 0;
            margin-bottom: 25px;
            &:last-child {
                width: 100%;
            }
        }
        &__logoTxt {
            position: relative;
            left: 0;
            width: 696px;
            max-width: 696px;
            height: 170px;
            margin-bottom: 0;
            background-size: contain;
        }
        & .inner {
            padding-top: 65px;
        }
    }
    @include mobile {
        & .inner {
            padding-top: 35px;
            padding-bottom: 35px;
        }
        &__row {
            &:last-child {
                flex-direction: column-reverse;
            }
        }
    }
    @media screen and (max-width: 480px) {
        &-ways {
            &__el {
                font-size: 15px;
                line-height: 21px;
                padding: 9px 20px;
            }
        }
    }
}