.firstBlock {
    background-color: $color_dark1;
    color: $color_light1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    letter-spacing: 0.1px;
    & .inner {
        padding: 117px 0;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__logo {
        margin: 0 auto;
    }
    &__text {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-family: $font_bold;
    }
    &__link {
        opacity: 0.6;
        font-size: 10px;
        line-height: 12px;
        color: $color_light1;
        text-decoration: none;
        font-family: $font_light;
        text-align: center;
        text-transform: uppercase;
        padding-right: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -6px;
            @include sprite($sprite-2);
        }
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
    &__toBottom {
        cursor: pointer;
        position: absolute;
        left: 50%;
        margin-left: -17px;
        bottom: 60px;
        border-radius: 100%;
        width: 34px;
        height: 34px;
        background: $color_light1;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            display: block;
            @include sprite($sprite-1);
        }
    }
    @media screen and (min-width: 320px) {
        &__logo {
            width: 265px;
            height: 35px;
            margin-bottom: 50px;
            background: url('../img/mobile/firstBlock__logo320.png') no-repeat;
        }
    }
    @media screen and (min-width: 480px) {
        &__logo {
            width: 395px;
            height: 52px;
            margin-bottom: 80px;
            background: url('../img/mobile/firstBlock__logo480.png') no-repeat;
        }
    }
    @media screen and(min-width: 768px) {
        &__logo {
            width: 635px;
            height: 82px;
            margin-bottom: 115px;
            background: url('../img/tablet/firstBlock__logo.png') no-repeat;
        }
    }
    @include desktop {
        animation: firstBlockBackgroundChanger 6s infinite normal;
        animation-timing-function: ease-in-out;
        &__preload-images {
            background: url("../img/firstblock__logo2.png") no-repeat -9999px -9999px;
            background: url("../img/firstblock__logo3.png") no-repeat -9999px -9999px, url("../img/firstblock__logo4.png") no-repeat -9999px -9999px, url("../img/firstblock__logo5.png") no-repeat -9999px -9999px;
        }
        &__logo {
            width: 1140px;
            height: 146px;
            margin-bottom: 120px;
            animation: firstBlockLogoChanger 6s infinite normal;
            animation-timing-function: step-end;
        }
    }
    @include mobile {
        min-height: 560px;
        height: 100vh;
        &__toBottom {
            display: none;
        }
    }
}