.recruitForm {
    position: relative;
    display: flex;
    align-items: center;
    background: $color_light1;
    & input[type="file"] {
        display: none;
    }
    &__logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 80px;
        z-index: 1;
        @media screen and (min-width: 320px) {
            width: 265px;
            height: auto;
        }
        @media screen and (min-width: 480px) {
            width: 395px;
        }
        @media screen and(min-width: 768px) {
            width: 635px;
        }
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
        font-family: $font_medium;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__description {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 25px;
        color: $color_gray5;
        font-family: $font_light;
    }
    & .inner {
        max-width: 635px;
    }
    &__row {
        display: flex;
        margin: 0 -15px;
        margin-bottom: 40px;
        &_one-column {
            & .recruitForm__column {
                width: 100%;
            }
        }
        &_with-submit {
            align-items: flex-end;
            margin-bottom: 0;
            & .recruitForm__column {
                &:first-child {
                    width: 70%;
                }
                &:last-child {
                    width: 30%;
                    text-align: right;
                }
            }
        }
    }
    &__file {
        cursor: pointer;
        font-family: $font_regular;
        display: block;
        position: relative;
        padding: 6px 0;
        font-size: 16px;
        line-height: 24px;
        color: $color_gray3;
        border-bottom: 1px solid $color_gray2;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 9px;
            @include sprite($sprite-10);
        }
    }
    &__column {
        width: 50%;
        padding: 0 15px;
    }
    &__input {
        font-family: $font_regular;
        display: block;
        width: 100%;
        border: none;
        outline: none;
        padding: 6px 0;
        font-size: 16px;
        line-height: 24px;
        color: $color_gray3;
        border-bottom: 1px solid $color_gray2;
        @include placeholder {
            color: $color_gray3;
        }
        &:focus {
            border-bottom: 1px solid $color_blue1;
        }
    }
    &__textarea {
        font-family: $font_regular;
        display: block;
        width: 100%;
        border: none;
        outline: none;
        padding: 6px 0;
        color: $color_gray3;
        border-bottom: 1px solid $color_gray2;
        resize: none;
        height: 20px;
        font-size: 16px;
        line-height: 24px;
        resize: none;
        &-hiddenDiv {
            position: absolute;
            z-index: 0;
            top: 0;
            opacity: 0;
            display: block;
            white-space: pre-wrap;
            width: 100%;
            padding: 0 0 0;
            min-height: 20px;
            overflow: hidden;
            word-wrap: break-word;
            font-size: 16px;
            line-height: 24px;
            left: -99999999px;
        }
        @include placeholder {
            color: $color_gray3;
        }
        &:focus {
            border-bottom: 1px solid $color_blue1;
        }
        &.noscroll {
            overflow: hidden;
        }
    }
    &__checkbox {
        min-height: 29px;
        padding: 0 0 4px;
        & input[type="checkbox"] {
            &:checked {
                &+label {
                    &::after {
                        cursor: pointer;
                        content: "";
                        position: absolute;
                        top: 9px;
                        left: 9px;
                        background: $color_dark1;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                    }
                }
            }
        }
        & label {
            cursor: pointer;
            display: block;
            font-size: 13px;
            line-height: 29px;
            padding-left: 35px;
            position: relative;
            color: $color_gray4;
            & span {
                padding-bottom: 2px;
                border-bottom: 1px dotted $color_gray4;
            }
            &::before {
                content: "";
                background: $color_light1;
                border: 2px solid $color_dark1;
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 100%;
            }
        }
    }
    &__submit {
        display: inline-block;
        cursor: pointer;
        color: $color_light1;
        background: $color_blue1;
        border: none;
        border-radius: 50px;
        min-width: 162px;
        padding: 11px 15px;
        outline: none;
        &:disabled {
            background: $color_gray2;
            cursor: not-allowed;
        }
    }
    @include tablet {
        &__row {
            margin: 0;
            margin-bottom: 40px;
        }
    }
    @include mobile {
        min-height: 780px;
        & .inner {
            padding: 100px 15px;
        }
        &__logo {
            margin-bottom: 30px;
        }
        &__title {
            text-align: center;
            margin-bottom: 80px;
            font-size: 14px;
            line-height: 18px;
        }
        &_noMinHeight {
            min-height: 0;
        }
    }
    @media screen and (max-width: 600px) {
        &__row {
            flex-direction: column;
            margin-bottom: 0;
            &_with-submit {
                padding-top: 20px;
                & .recruitForm__column:first-child {
                    width: 100%;
                }
                & .recruitForm__column:last-child {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        &__column {
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
        }
        &__checkbox {
            & label {
                line-height: 21px;
            }
        }
    }
}