.innerPage-box {
    padding: 70px 0;
    &_vacancy {
        max-width: 795px;
    }
    &_delimiter {
        border-bottom: 1px solid $color_gray8;
        &-bold {
            border-bottom: 5px solid $color_dark2;
        }
        &-top {
            border-top: 1px solid $color_gray8;
        }
    }
    &__inner {
        display: flex;
        margin: 0 -15px;
    }
    &__column {
        width: 50%;
        margin: 0 15px;
    }
    &__img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 554px;
    }
    @include tablet {
        margin: 0;
    }
    @include mobile {
        padding: 35px 0;
        &__inner {
            flex-direction: column;
            margin: 0 auto;
            padding: 0 15px;
        }
        &__column {
            width: 100%;
            margin: 0;
        }
        &_withForm {
            & .innerPage {
                &-box {
                    &__img {
                        display: none;
                    }
                    &__inner {
                        padding: 0;
                        max-width: 556px;
                        width: 100%;
                        margin: 0 auto;
                    }
                    &__column {
                        width: auto;
                    }
                }
            }
            & .recruitForm {
                justify-content: center;
                &__title {
                    margin-bottom: 30px;
                }
                &__description {
                    text-align: center;
                }
            }
        }
    }
}